.headerContainer{
    height: 5rem;
    background-color: var(--azul2);
    max-width: auto;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


